numpy
pandas
scikit-learn
scikit-image
tqdm
Pillow
fire
torch
torchvision
medmnist
torch_geometric
pennylane
wandb
matplotlib
-f https://data.pyg.org/whl/torch-2.10.0+cpu.html
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
